In [48]:
DATASET_PATH = "/home/swei20/sketch-scale/out"

In [27]:
import os
import sys
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
sys.path.insert(0, '../..')

In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
from src.pipelines.sketchPipeline import SketchPipeline
from src.dataset.save import save_dataset, load_dataset
from src.sketch.SnS import SnS

In [39]:
sys.argv = ['eval_sketchPipeline', '--config', "/home/swei20/sketch-scale/src/configs/sketchConfig.json"]

In [49]:
base = 5
dfNorm = load_dataset(DATASET_PATH, "dfNorm", fileFormat="csv")

In [68]:
sns = SnS(dfNorm, base)

In [70]:
sns.run()

samples: 689382 ftrs: 8 base: 5
=============exact counting HHs==============
exact counting time:0.15

In [71]:
sns.dfHH

     0  1  2  3  4  5  6  7        HH     freq        rk        ra
0    0  3  3  3  2  2  2  2  195465.0  52081.0   52081.0  0.075547
1    0  3  3  2  2  2  2  2  195340.0  43656.0   95737.0  0.138874
2    0  3  3  2  2  2  2  3  273465.0  41179.0  136916.0  0.198607
3    0  3  3  3  2  2  2  3  273590.0  32597.0  169513.0  0.245891
4    0  3  3  3  3  2  2  2  196090.0  28689.0  198202.0  0.287507
..  .. .. .. .. .. .. .. ..       ...      ...       ...       ...
460  1  3  2  3  3  2  2  2  196066.0      1.0  689378.0  0.999994
461  1  3  2  4  2  3  2  2  198691.0      1.0  689379.0  0.999996
462  1  3  2  1  2  3  2  2  198316.0      1.0  689380.0  0.999997
463  1  4  3  2  2  2  2  2  195346.0      1.0  689381.0  0.999999
464  0  4  1  2  2  2  2  2  195295.0      1.0  689382.0  1.000000

[465 rows x 12 columns]