In [20]:
DATASET_PATH = "/home/swei20/sketch-scale/out"
dfNorm_PATH = "out/dfNorm.csv"

In [2]:
import os
import sys
import h5py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
sys.path.insert(0, '../..')
os.chdir("/home/swei20/sketch-scale/")
os.getcwd()

'/home/swei20/sketch-scale'

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
from src.pipelines.sketchPipeline import SketchPipeline
from src.dataset.save import save_dataset, load_dataset
from src.sketch.SnS import SnS

### checking sketchPipeline

In [11]:
sys.argv = ["eval_sketchPipeline", "--config", "/home/swei20/sketch-scale/src/configs/sketchConfig.json"]

In [12]:
sp = SketchPipeline()
sp.prepare()

INFO:root:Output directory is ./out

{'seed': 112, 'name': 'test', 'out': './out', 'dim': 8, 'base': 22, 'dtype': 'uint64', 'dfNorm': './out/dfNorm.csv', 'saveStream': False, 'sketchMode': 'exact', 'topk': None, 'csParams': None, 'ratio': 1.0, 'saveHH': True, 'nCluster': 10, 'saveUMAP': True, 'saveKMAP': True}
Output directory not Empty, Replacing might occurs

INFO:root:saving dict_items([('stream', False), ('HH', True), ('UMAP', True), ('KMAP', True)])

In [34]:
dfEmbed = sp.run()

samples: 689382 ftrs: 8 base: 22
=============exact counting HHs==============
exact counting time:0.23
       0   1   2   3   4   5   6   7            HH    freq        rk        ra
0      0  12  13  14  12  13  13  14  3.646491e+10  2567.0    2567.0  0.003953
1      0  12  13  14  12  13  13  15  3.895927e+10  2128.0    4695.0  0.007229
2      1  15  17  12  13  11  13  13  3.396046e+10  1537.0    6232.0  0.009596
3      2  16  18  13  13  11  13  13  3.396047e+10  1521.0    7753.0  0.011938
4      3   5  14  14  13  13  13  13  3.397079e+10  1452.0    9205.0  0.014173
...   ..  ..  ..  ..  ..  ..  ..  ..           ...     ...       ...       ...
19995  0  14  16  14  12  12  12  13  3.385202e+10     3.0  649440.0  0.999982
19996  1  17  13  14   9  13  12  13  3.385647e+10     3.0  649443.0  0.999986
19997  1  13  14  16  10  13  12  13  3.385673e+10     3.0  649446.0  0.999991
19998  1  15  18  14  13  12  12  12  3.135790e+10     3.0  649449.0  0.999995
19999  1  17  17  15  13  13  13  13  3.397080e+10     3.0  649452.0  1.000000

[20000 rows x 12 columns]
{'stream': False, 'HH': True, 'UMAP': True, 'KMAP': True}

/home/swei20/sketch-scale/src/clustering/embed.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.dfHH['u1'] = matUMAP[:,0]
/home/swei20/sketch-scale/src/clustering/embed.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.dfHH['u2'] = matUMAP[:,1]
/home/swei20/sketch-scale/src/clustering/embed.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.dfHH[f'k{self.nCluster}'] = kmap.labels_ + 1

In [35]:
dfEmbed

,0,1,2,3,4,5,6,7,HH,freq,rk,ra,u1,u2,k10
0,0,12,13,14,12,13,13,14,3.646491e+10,2567.0,2567.0,0.003953,7.495805,8.666284,2
1,0,12,13,14,12,13,13,15,3.895927e+10,2128.0,4695.0,0.007229,7.671443,9.236639,2
2,1,15,17,12,13,11,13,13,3.396046e+10,1537.0,6232.0,0.009596,3.970073,3.682997,7
3,2,16,18,13,13,11,13,13,3.396047e+10,1521.0,7753.0,0.011938,-0.769126,2.137719,1
4,3,5,14,14,13,13,13,13,3.397079e+10,1452.0,9205.0,0.014173,10.491820,2.237984,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,1,12,11,14,10,12,12,13,3.385155e+10,3.0,649437.0,0.999977,10.839565,5.761152,9
19995,0,14,16,14,12,12,12,13,3.385202e+10,3.0,649440.0,0.999982,6.222092,6.457123,10
19996,1,17,13,14,9,13,12,13,3.385647e+10,3.0,649443.0,0.999986,2.487628,6.166207,3
19997,1,13,14,16,10,13,12,13,3.385673e+10,3.0,649446.0,0.999991,3.434853,6.645476,3
19998,1,15,18,14,13,12,12,12,3.135790e+10,3.0,649449.0,0.999995,4.214314,4.548297,7

### checking SnS pipeline

In [23]:
base =22
dfNorm = load_dataset(None,None, fileFormat="csv", dirPath=dfNorm_PATH)

In [24]:
sns = SnS(dfNorm, base)

In [25]:
sns.run()

samples: 689382 ftrs: 8 base: 22
=============exact counting HHs==============
exact counting time:0.19

In [26]:
sns.dfHH

       0   1   2   3   4   5   6   7            HH    freq        rk        ra
0      0  12  13  14  12  13  13  14  3.646491e+10  2567.0    2567.0  0.003953
1      0  12  13  14  12  13  13  15  3.895927e+10  2128.0    4695.0  0.007229
2      1  15  17  12  13  11  13  13  3.396046e+10  1537.0    6232.0  0.009596
3      2  16  18  13  13  11  13  13  3.396047e+10  1521.0    7753.0  0.011938
4      3   5  14  14  13  13  13  13  3.397079e+10  1452.0    9205.0  0.014173
...   ..  ..  ..  ..  ..  ..  ..  ..           ...     ...       ...       ...
19995  0  14  16  14  12  12  12  13  3.385202e+10     3.0  649440.0  0.999982
19996  1  17  13  14   9  13  12  13  3.385647e+10     3.0  649443.0  0.999986
19997  1  13  14  16  10  13  12  13  3.385673e+10     3.0  649446.0  0.999991
19998  1  15  18  14  13  12  12  12  3.135790e+10     3.0  649449.0  0.999995
19999  1  17  17  15  13  13  13  13  3.397080e+10     3.0  649452.0  1.000000

[20000 rows x 12 columns]